.formContainer {
  background-color: #303030;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.form-box {
  background-color:rgb(213, 213, 213);
  max-width: 95vw;
  border: 1px solid rgb(210, 210, 210);
  width: 400px;
  border-radius: 5px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-head{
  font-family: 'Righteous', cursive;
  margin: 20px 0;
  color: grey;
}
.forget{
  /* background-color: aquamarine; */
  width: 100%;
  padding: 10px 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-decoration: none;
}
.taddcourse{
  padding: 20px;
  margin-top: 80px;
  width:1000px;
  /* background-color:#e2e2ec; */
  max-width: 95vw;
  border: 1px solid #BFACE2;
  border-radius: 5px;
  background-color: #ECF2FF;
}

.addcourse-form{
  display: flex;
  flex-direction: column;
  /* background-color: beige; */
  align-items: center;
  justify-content: space-between;
}
