/* App.css */
.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Styling for the Navbar */
.Navbar {
  background-color: #007bff;
  padding: 10px;
  color: #fff;
}

/* Styling for the body content */
/* .BodyContent {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
} */
